footer {
    height: 20vh;
    width: 100vw;
    font-weight: 500;
    background: black;
    border-top: 1px solid white;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: yellow;
    }
}